<!--
-->

<article class="h-entry">
    <h1 class="p-name" <if hide>style="display: none;"</if>>$title</h1>
    <div style="display: none;">
        <time class="dt-published" datetime="$pubdate"></time>
        <p class="p-summary">$desc</p>
        <a class="u-url" href="$link">$title</a>
        <span class="p-author h-card">
            <a href="/" class="author-icon" rel="author" title="shminge">
                <img class="u-photo" src="https://shminge.dev/favicon.ico" alt="shminge">
            </a>
        </span>
    </div>
    <section class="e-content">
        $inner
    </section>
</article>